fastapi
uvicorn
sqlalchemy
psycopg2-binary
pymysql
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt,argon2]
cryptography
google-generativeai
openai
python-dotenv
python-multipart
cors
email-validator
